html {
  font-weight: 18px;
  font-family: Helvetica;
}

#banner {
  width: 100%;
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
}

header {
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
  display: inline-flex;
  justify-content: space-between;
  align-self: center;
}

.blue {
  background-color: cadetblue;
  color: white;
}

.container.blue {
  margin-top: 1rem;
}

.logo {
  width: auto;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

header img  {
  padding: 0 1rem 0 2rem;
  height: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav span {
  padding: 1rem 2rem 1rem 0;
}

#box {
  width: 100%;
  display: flex;
  justify-content: center;
}

#box .container {
  font-weight: bold;
  top: 10rem;
  font-size: 2rem;
  width: 1024px;
  position: relative;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.container h3 {
  background-color: white;
  padding: 1.5rem 5rem;
}

#gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}

#gallery .container {
  display: flex;
  justify-content: center;
}

.image {
  height: 8rem;
  width: 5rem;
  margin: 3rem 2.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image.paper img {
  width: 3.5rem;
}

.image.ruler img {
  width: 4.7rem;
}

.image.truck img {
  width: 4.7rem;
}

#info {
  width: 100%;
  display: flex;
  justify-content: center;
}

#info .container {
  display: flex;
  justify-content: flex-start;
}

.box {
  width: 35%;
  margin: 0 5% 5rem 5%;
}

.box .blue {
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .container {
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .container img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 1024px) {
  #banner {
    height: 22rem;
  }

  .container.blue {
    margin: 0rem;
  }

  #box .container {
    width: 100%;
    font-size: 1.33rem;
    width: 100%;
    top: 5rem;
    margin-right: 2rem;
  }

  .container h3 {
    padding: 0.75rem 4rem;
  }
}
